# Firebase Configuration
FIREBASE_API_KEY=AIzaSyBzAZesEE8dfp0xb9Fayrz8oPRTa26iYOY
FIREBASE_AUTH_DOMAIN=adventurechaaranawaitlist.firebaseapp.com
FIREBASE_PROJECT_ID=adventurechaaranawaitlist
FIREBASE_STORAGE_BUCKET=adventurechaaranawaitlist.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=42618639562
FIREBASE_APP_ID=1:42618639562:web:d7a3af4769c19acf4d9033
FIREBASE_MEASUREMENT_ID=G-T4ERBWB8JY
